:root {
  --header-color: #e4d8cc;
  --white-color: #fff;
  --bcr-color1: #7837f3;
  --bcr-color: #e7dfd8;
  --bcr-color2: rgba(228, 216, 204, 0.5);
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--bcr-color);
}
.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  outline: 2px solid red;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 23px;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.contact-list {
  display: flex;
  align-items: center;
  gap: 38px;
}
.hero {
  background-color: rgb(117, 117, 117);
  padding-top: 364px;
  padding-bottom: 116px;
  margin-bottom: 76px;
}
.hero-list {
  display: flex;
  gap: 16px;
}
.hero-title {
  font-weight: 400;
  font-size: 57px;
  line-height: 1.06;
  color: var(--header-color);
  margin-bottom: 14px;
}
.hero-text {
  color: var(--header-color);
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 42px;
}
.hero-btn {
  color: var(--white-color);
  background-color: var(--bcr-color2);
  padding: 14px 34px;
  border-color: transparent;
  border-radius: 100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0%;
}
.purple {
  background-color: var(--bcr-color1);
}
.info {
  display: flex;
  margin-bottom: 200px;
  align-items: center;
  gap: 106px;
}
.info-title {
  font-weight: 400;
  font-size: 54px;
  line-height: 1.07;
  letter-spacing: 0%;
}
.info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0%;
  width: 452px;
}
.info-img {
  width: 539px;
}
.garanty,
.investment,
.resell{
  display: flex;
  align-items: flex-end;
  gap: 116px;
  margin-bottom: 225px;
}
.garanty-img,
.investment-img,
.resell-img {
  width: 518px;
  height: 500px;
}
.garanty-title,
.investment-title,
.resell-title {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.89;
  letter-spacing: 0%;
  margin-bottom: 18px;
}
.garanty-title-big,
.investment-title-big,
.resell-title-big {
  font-weight: 400;
  font-size: 35px;
  line-height: 45.63px;
  letter-spacing: 1px;
  margin-bottom: 11px;
}
.garanty-btn,
.investment-btn,
.resell-btn{
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 48px;
}
.garanty-text, 
.investment-text,
.resell-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 22.08px;
  letter-spacing: 0%;
}
